<app-header></app-header>
<div class="w-full h-screen bg-white">
  <div class="flex justify-center items-center h-full ">

    <div class=" flex flex-col items-center  md:rounded-[60px] px-8  pb-8 mb-4 w-full  md:w-[548px] h-[539px] mt-[100px] md:mt-0">

      <div class="logo-img" class="bg-[#97AF8F] rounded-[51px] w-[323px] mb-[4rem]  ">
        <img src="assets/logoHome1.png" class="mx-auto">
      </div>
      <div class="text-center mb-10">
        <h2 class="font-['Gabarito'] text-[30px]  md:text-[40px] font-medium leading-none">Comienza esta aventura </h2>
        <h2 class="font-['Gabarito'] text-[30px] md:text-[40px] font-medium leading-none">teniendo el control de tu vida.</h2>
      </div>
      <button
    class="bg-[#97AF8F] text-white font-bold py-2 px-4 rounded-[22px] focus:outline-none focus:shadow-outline w-[300px]  h-[48px]"
    routerLink="/auth/login">
    ACCEDER
  </button>

    </div>


  </div>

</div>

