<div class=" h-screen pb-5">
<form class="flex flex-row justify-between  h-screen pl-[100px]" [formGroup]="formRegister">
  <div class="w-[80%]">
    <div class="w-[80%] lg:w-[95%] h-[78px] bg-[#D9D9D9] rounded-[25px] ml-[30px]  mt-3 pt-5 mx-auto ">
      <h2 class="text-center font-[Inter] text-[24px] font-bold">REGISTRO NUEVO CLIENTE</h2>

    </div>
    <div class="flex flex-col justify-center items-center mt-[44px]  gap-4 " *ngIf="stateForm=='0'">
      <div class="field-name flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Nombre(s) y Apellido(s)</label>
        <input formControlName="formClientName" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      <div class="field-lastName flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">E-mail</label>
        <input formControlName="formClientEmail" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      <div class="field-date flex flex-col">
        <label for="name" class="font-[Poppins] font-medium">Fecha de nacimiento</label>
        <div class="flex flex-row w-[624px] gap-2">
          <!--   select dia  de nacimiento-->
          <select class="text-center w-full  h-[56px] rounded-[30px] border border-[#7C797A]">
            <option [value]="day" *ngFor="let day of listDays">{{day}}</option>
          </select>

          <!-- select mes de nacimiento -->
          <select type="se" class="text-center w-full h-[56px] rounded-[30px] border border-[#7C797A]">
            <option value="month" *ngFor="let month of months">{{month}}</option>
          </select>
          <!-- select año  de nacimiento -->
          <select type="se" class="text-center w-full  h-[56px] rounded-[30px] border border-[#7C797A]">
            <option [value]="year" *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div>
      <div class="field-id flex flex-col">
        <label for="name" class="font-[Poppins] font-medium">Tipo de identificacion</label>
        <div class="flex flex-row w-[624px] gap-2">
          <!--   select Tipo de identificacion -->
          <select class="text-center w-full  h-[56px] rounded-[30px] border border-[#7C797A]">
            <option value="DNI">DNI</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Cédula">Cédula</option>
          </select>

          <input type="text" class="text-center w-full h-[56px] rounded-[30px] border border-[#7C797A]"
            placeholder="N-identificacion">


        </div>
      </div>


      <div class="field-address flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Direccion</label>
        <input formControlName="formClientAddr" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      <div class="field-lastName flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Usuario</label>
        <input formControlName="formClientUser" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      <div class="field-lastName flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Password</label>
        <input formControlName="formClientPassword" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      <div class="field-lastName flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Topic</label>
        <input formControlName="formClientTopic" type="text" class="text-center w-[624px] h-[56px] rounded-[30px] border border-[#7C797A]">
      </div>
      
      <svg *ngIf="loading" aria-hidden="true" role="status" class="inline w-[23px] h-[23px] mr-3 text-black-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
      </svg>



      <button *ngIf="!loading" class="text-center w-[624px] h-[56px] rounded-[30px] bg-black text-white mt-3"
        (click)="changeForm()">Continuar</button>

    </div>
    <!-- form 2 -->
    <div class="flex flex-col justify-center items-center mt-[44px]  gap-4 " *ngIf="stateForm=='1'">
      <!-- vivienda-->
      <div class="field-house flex flex-col gap-[8px]">
        <label for="name" class="font-[Poppins] font-medium">Vivienda</label>
        <div class="flex flex-row w-[624px] gap-2">

          <input type="text" formControlName="descripcionHouse"
            class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Descripcion">

          <input type="text" formControlName="direccionHouse"
            class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A] " placeholder="Direccion">
          <input type="text" formControlName="topicHouse"
            class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Topico">


          <button class=" w-[26%] h-[48px] rounded-[60px]  bg-black text-white" (click)="addHouse()">añadir</button>
        </div>
      </div>
      <!-- lista Dispositivos -->
      <div class="flex flex-col">
        <div
          class="flex flex-row justify-center items-center w-[605px] h-[56px] mb-2 rounded-[30px] border border-[#7C797A] bg-white"
          *ngFor="let address of listAddress ">
          <div class="w-[25%] text-center">{{address.descripcionHouse}}</div>
          <div class="line w-[1px] h-[90%] bg-black"></div>
          <div class="w-[25%] text-center">{{address.direccionHouse}}</div>
          <div class="line w-[1px] h-[90%] bg-black"></div>
          <div class="w-[25%] text-center">{{address.topicHouse}}</div>

          <button class="h-full w-[25%]  bg-black text-white rounded-r-[30px]"
            (click)="habilitarFormEnviroment()">añadir
            ambiente</button>
        </div>
        <div *ngIf="stateEnviroment">
        <div class="w-[605px] p-5 rounded-[30px] border border-[#7C797A] bg-white mb-3" *ngFor="let address of listAddress">

          <h3 >Ambiente {{address.descripcionHouse}}
          </h3>
          <div class="field-house flex flex-col gap-[8px]">

            <div class="flex flex-row w-full gap-2 mb-3">

              <input type="text" formControlName="descripcionEnv"
                class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Descripcion">


              <input type="text" formControlName="topicEnv"
                class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Topico">
              <button class=" w-[26%] h-[48px] rounded-[60px]  bg-black text-white"
                (click)="addEviroment()">añadir</button>
            </div>
          </div>
          <div
            class="flex flex-row justify-center items-center w-full h-[56px] mb-2 rounded-[30px] border border-[#7C797A] bg-white"
            *ngFor="let env of listEnviroments ">
            <div class="w-[40%] text-center">{{env.descripcionEnv}}</div>

            <div class="line w-[1px] h-[90%] bg-black"></div>
            <div class="w-[40%] text-center">{{env.topicEnv}}</div>

            <button class="h-full w-[20%]  bg-black text-white rounded-r-[30px]" (click)="habilitarFormDevice()">añadir
              Dispositivo</button>
          </div>
          <div *ngIf="stateDevice">
          <div class="w-full p-5 rounded-[30px] border border-[#7C797A] bg-white mb-3" >
            <h3 >Dispositivos
            </h3>
            <div class="field-house flex flex-col gap-[8px]">

              <div class="flex flex-row w-full gap-2 mb-3">

                <input type="text" formControlName="descripcionDevice"
                  class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Descripcion">


                <input type="text" formControlName="topicDevice"
                  class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]" placeholder="Topico">
                  <select type="text" formControlName="typeDevice"
                  class="text-center w-[37%] h-[56px] rounded-[30px] border border-[#7C797A]">
                  <option value="sensor">sensor</option>
                  <option value="switch">switch</option>
                  <option value="calefaccion">calefaccion</option>
                  <option value="calefaccion">riego</option>
                  </select>
                <button class=" w-[26%] h-[48px] rounded-[60px]  bg-black text-white"
                  (click)="addDevice()">añadir</button>
              </div>
            </div>
            <div
              class="flex flex-row justify-center items-center w-full h-[56px] mb-2 rounded-[30px] border border-[#7C797A] bg-white"
              *ngFor="let dev of listDevice ">
              <div class="w-[33%] text-center">{{dev.descripcionDevice}}</div>

              <div class="line w-[1px] h-[90%] bg-black"></div>
              <div class="w-[33%] text-center">{{dev.topicDevice}}</div>
              <div class="line w-[1px] h-[90%] bg-black"></div>
              <div class="w-[33%] text-center">{{dev.typeDevice}}</div>

            </div>

        </div>
      </div>
        </div>
      </div>
      </div>
      <!--  viviendas a  registrar -->
    </div>

  </div>
  <button (click)="saveData()"
  class="text-centee w-[20%] h-[56px] rounded-[30px] bg-black text-white my-auto  mb-[24px] mr-2"  *ngIf="stateForm=='1'">Continuar</button>
</form>
</div>
