<header class="md:bg-[#D4E0EE] md:w-full md:h-[80px] md:block hidden ">
  <div class="flex flex-row justify-between ">
    <div class="ml-[24px] mt-[16px] w-[174px] h-[48.069px] bg-white -auto rounded-[40px] text-center py-[10px]">Logo</div>
    <div class="div">
      <ul class="flex flex-row justify-center gap-12 mt-[32px]" >
        <li class="font-medium" >SOBRE NOSOTROS</li>
        <li class="font-medium">CONTACTANOS</li>
        <li class="mr-[67px] font-medium">AYUDA</li>
      </ul>
    </div>
  </div>
</header>
