@media screen and (max-height:648px) {
  /* Tus estilos CSS para alturas menores que 574px van aquí */
  /* Por ejemplo, puedes cambiar el color de fondo del cuerpo (body) */

    .mt-text{
      margin-top: 100px;
    }

}

/*
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content{
  height: 100%;
}

@media(max-width: 700px){
    .todo{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 200px;
        position: relative;
    }

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gabarito;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }
    .boton1{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 220px;
    }
    .perfil{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 335px;
        left: 85px;
        cursor: pointer;
    }
    .config{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 282px;
        right: 5px;
        cursor: pointer;
    }
    .casa{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 385px;
        right: 90px;
        cursor: pointer;
    }
    .downBar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 450px;
    }
}

@media(min-width: 350px) {
    .todo{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 200px;
        position: relative;
    }

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 190px;
        font-family: Gabarito;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }

    .boton1{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 220px;
    }
    .perfil{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 335px;
        left: 85px;
        cursor: pointer;
    }
    .config{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 282px;
        right: 5px;
        cursor: pointer;
    }
    .casa{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 385px;
        right: 90px;
        cursor: pointer;
    }
    .downBar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 450px;
    }

}
 */
