@media(max-width: 1200px){
    .temperatura{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 100px;
        position: relative;
    }
    .grados{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30px;
    }
}
@media(min-width: 350px) {
    .temperatura{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grados{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30px;
    }
}

@media(max-height: 645px) {
    .temperatura{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 70px;
        position: relative;
    }
    .grados{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30px;
    }
}
@media(min-height: 700px) {
    .temperatura{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 120px;
        position: relative;
    }
    .grados{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 30px;
    }
}

@media(min-height: 775px) {
    .temperatura{
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 160px;
        position: relative;
    }
    .grados{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 50px;
    }
}

.temperatura{
    border-radius: 25px;
}

