
<div class="flex flex-row mt-[46px] justify-between mx-[24px]">
  <div class="flex flex-row cursor-pointer" routerLink="/main/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="28" viewBox="0 0 16 28" fill="none">
      <path d="M14 2L2 14L14 26" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <p class="font-[Gabarito] text-[25px] font-semibold text-black leading-none ml-[33px]">Casa 1</p>
  </div>

  <div class="float-right">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
      <path d="M4.5 4.5V28.5C4.5 29.2956 4.81607 30.0587 5.37868 30.6213C5.94129 31.1839 6.70435 31.5 7.5 31.5H31.5"
        stroke="#4A5C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M10.5 21L16.5 15L22.5 21L31.5 12" stroke="#4A5C43" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M27 12H31.5V16.5" stroke="#4A5C43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>

</div>
